@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .--subtitle-style {
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
    font-family: 'Young Serif', san-serif;
    color: hsl(14 45% 36% / var(--tw-text-opacity));
    margin-bottom: 1rem /* 16px */;
  }

  .--dt-style {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
